.Rproj.user
.Rhistory
.RData
.Ruserdata
Analysis_Laudine_R-R.docx
Analysis_Laudine_R-R_cache
FormatRefWordFinal.docx
ManuscriptNHB.docx
Power_Posaje.docx
Rplot.jpeg
RunUpdateArthur.docx
SupplementaryInformation.docx
SupplementaryInformation_cache
