Arthur3001.nb.html
FormalStuff.log
FormalStuff.pdf
FormalStuff.tex
FormalStuff_cache
NoteBook_Arthur.nb.html
PowerPosaje.nb.html
PowerSimu03032025.html
Theory.pdf
Theory_cache
FormalStuff_files
Theory_files
